<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">

    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <div class="jumbotron resident-evil-background mt-4 text-center">

        <h1 class="text-center mb-4">This page isn't available</h1>

        <h3>The link you followed may be broken, or the page may have been removed.</h3>

        <div class="mt-5">
            <img src="/img/Resident_Evil.jpeg" alt="pic"/>
        </div>
        <div class="text-center mt-5">

        </div>

    </div>
</div>

</body>
</html>



