<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <div class="jumbotron resident-evil-background mt-4 text-center">
        <h1>Project: Resident Evil</h1>
        <hr/>
        <p>Resident Evil is a system that registers virus spreads across the world. </p>
    </div>
</div>

</body>
</html>