<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <h1 class="page-title text-center mt-5">User Permissions</h1>
        <table class="table w-50 mx-auto mt-5 mb-5 text-center">
            <thead>
            <tr>
                <th scope="col" style="width:10%">#</th>
                <th scope="col" style="width:20%">Name</th>
                <th scope="col" style="width:30%">Role</th>
                <th scope="col" style="width:40%" th:if="${(session.role == 'ADMIN' or session.role == 'ROOT')}">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user: ${users}">
                <tr>
                    <th class="col-1" th:text="${userStat.index} + 1" style="width:10%" scope="row">1</th>
                    <td class="col-4" th:text="${user.username}" style="width:20%"></td>
                    <td class="col-6" th:text="${user.role}" style="width:30%"></td>
                    <td class="col-md-5 d-flex justify-content-center mx mx-auto" style="width:40%"
                        th:if="${(session.role == 'ADMIN' or session.role == 'ROOT') and session.currentUserName != user.username and user.role != 'ROOT'}"
                    >
                        <h5>
                            <a class="btn btn-primary  m-1" th:href="@{/users/promote/{id} (id=${user.id})}">PROMOTE</a>
                        </h5>
                        <h5>
                            <a class="btn btn-primary  m-1" th:href="@{/users/demote/{id} (id=${user.id})}" onClick={}>DEMOTE</a>
                        </h5>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>