<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
    <style>
        body{
            background-image: url("https://cache1.24chasa.bg/Images/Cache/301/Image_6938301_500_0.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            color: oldlace;
        }
    </style>
</head>
<body style="text-align: right" >
    <h1>Welcome to Fluffy Duffy Munchkin Cats!</h1>
    <h2>Navigate through the application using links bellow!</h2>
    <br>
    <br>
    <a href="/cats/create">Create Cat</a>
    <br>
    <a href="/cats/all">All Cats</a>
</body>
</html>