<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
</head>
<body>
    <h1>Create a Cat</h1>
    <form action="/cats/create" method="post">
        <label>
            Name:
            <input type="text" name="name">
        </label>
        <br/>
        <label>
            Breed:
            <input type="text" name="breed">
        </label>
        <br/>
        <label>
            Color:
            <input type="text" name="color">
        </label>
        <br/>
        <label>
            Age:
            <input type="number" name="age">
        </label>
        <br/>
        <button type="submit">Create Cat</button>
    </form>
    <a href="/">Back To Home</a>
</body>
</html>