<nav class="navbar navbar-expand-lg navbar-light" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <p class="navbar-brand mb-0 h2">Resident Evill</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Viruses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/viruses/show}">Show</a>
                    <a sec:authorize="hasRole('MODERATOR')" class="dropdown-item" th:href="@{/viruses/add}">Add</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/fetch-data}">Fetch Data</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/user/list}">Users</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="nav-link">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
