<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateCat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<form action="/cats/create" method="post">
    <h1>Create a Cat!</h1>

    <div>
        <label for="name">Name:</label>
        <input type="text" name="catName" id="name" value="АлКапоне">
    </div>

    <div>
        <label for="breed">Breed:</label>
        <input type="text" name="breed" id="breed" value="Siam">
    </div>

    <div>
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" value="Schwarz">
    </div>

    <div>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" value="4">
    </div>

    <div>
        <button type="button" onclick="location.href='/'">Back to Home</button>
        <button type="submit" onclick="location.href='/cats/create'">Create Cat</button>
    </div>
</form>
</body>
</html>