<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatsIndex</title>
    <link rel="stylesheet" href="/style.css">


</head>
<body>
<section id="indexSection">
    <h1>Welcome to Fluffy Duffy Munchkin Cats!</h1>

    <h2>Navigate through the application using the links below!</h2>
    <hr>
    <br>
    <button type="submit" onclick="location.href='/cats/create'">Create Cat</button>
    <button type="button" onclick="location.href='cats/all'">All Cats</button>
    <br>
    <hr>
</section>

</body>
</html>