nav {
    background: #234465;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

footer {
    background: #234465;
    text-align: center;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
