<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navigation"></th:block>
    </header>

    <main class="mt-4">
        <div class="jumbotron mt-3 bg-re">
            <h1 class="text-white">Not Allowed Page: ERROR status=405!</h1>
            <hr class="hr-2"/>
            <h4 class="text-white">You are not allowed to execute the current operation!</h4>
        </div>
    </main>


    <footer>
        <th:block th:replace="fragments/footer"></th:block>
    </footer>
</div>
</body>
</html>