<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>Edit Virus</h1>
            <br/>
            <form th:action="@{/viruses/edit(id=${#request.getParameter('id')})}" method="post" th:object="${editModel}"
                  >
                <th:block th:include="~{fragments/virus-form}"></th:block>
            </form>
        </div>
        <script>
            $('#inputVirusReleaseDate').prop('readonly', true);
            $('#submitButton').addClass('btn re-background').text('Edit');
        </script>
    </main>
    <br/>
    <footer class="mt-4">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
<script>
    $('#submitButton').addClass('btn re-background').text('Edit');
</script>
</body>
</html>