<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PANDA</title>
    <link rel="stylesheet" type="text/css" href="reset-css.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-panda">
            <a class="navbar-brand nav-link-white" href="/">PANDA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/my-receipts">Receipts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="mt-3">
        <h1 class="text-center">Hello, Pesho!</h1>
        <hr class="hr-2 bg-panda">
        <div class="d-flex justify-content-between">
            <div class="w-25 bg-white">
                <h2 class="text-center">Pending</h2>
                <div class="border-panda p-3">
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">IPhone XS Case</h4>
                        <a href="" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">TV table</h4>
                        <a href="" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">Chushkopek</h4>
                        <a href="" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">Office Chair</h4>
                        <a href="" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                </div>
            </div>
            <div class="w-25 bg-white">
                <h2 class="text-center">Shipped</h2>
                <div class="border-panda p-3">
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">1959 Irish Bourbon</h4>
                        <a href="" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                </div>
            </div>
            <div class="w-25 bg-white">
                <h2 class="text-center">Delivered</h2>
                <div class="border-panda p-3">
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">Dog Toy</h4>
                        <a href="" class="btn bg-panda text-white w-25">Acquire</a>
                    </div>
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">Mineral Water</h4>
                        <a href="" class="btn bg-panda text-white w-25">Acquire</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid bg-panda">
            <div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>