<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="container-fluid">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>

    <main class="mt-3">
        <div class="jumbotron bg-re-form w-25 m-auto">
            <h2 class="text-center mc-colorize">Add Product</h2>

            <form id="add-product-form" th:action="@{/products/add}" th:method="post"
                  th:object="${model}"
                  enctype="multipart/form-data"><input type="hidden" name="_csrf"
                                                       value="c686cd14-a7f9-4216-8009-c093b7d3df86">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
                    <label for="add-product-name" class="font-weight-bold">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="add-product-name" name="name"
                           placeholder="Name...">
                    <small id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}">
                        Error Message
                    </small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
                    <label for="inputDescription" class="font-weight-bold">Description</label>
                    <textarea class="form-control" th:field="*{description}" id="inputDescription" rows="2"
                              placeholder="Description..."></textarea>
                    <small id="descriptionHelp" th:each="error : ${#fields.errors('description')}" th:text="${error}">
                        Error Message
                    </small>
                </div>
                <div class="form-group mt-2" th:classappend="${#fields.hasErrors('price')}? 'text-danger'">
                    <label for="inputPrice" class="font-weight-bold">Price</label>
                    <input type="number" min="0" class="form-control" th:field="*{price}" id="inputPrice"
                           placeholder="Price...">
                    <small id="priceHelp" th:each="error : ${#fields.errors('price')}" th:text="${error}">
                        Error Message
                    </small>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('categories')}? 'text-danger'">
                    <label for="add-product-categories" class="font-weight-bold">Categories</label>
                    <select multiple class="form-control" id="add-product-categories" name="categories" th:field="*{categories}">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <small id="categoriesHelp" th:each="error : ${#fields.errors('categories')}" th:text="${error}">
                        Error Message
                    </small>
                </div>
                <div class="form-group">
                    <label for="add-product-image" class="font-weight-bold">Image</label>
                    <input type="file" class="form-control-file" id="add-product-image" name="image">
                </div>
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn bg-re">Add Product</button>
                </div>
            </form>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
<!--<script>
    fetch('/categories/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((category) => $('#add-product-categories').append(`<option value="${category.id}">${category.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>-->
<!--
<script th:src="@{/js/add-product.js}"></script>
-->
</html>