<table class="table mt-3 mb-5 center-block w-75 mx-auto" xmlns:th="http://www.thymeleaf.org">
    <h2 class="header mt-3 mb-4 center-block w-75 mx-auto" th:text="#{viruses.all.title}"></h2>
    <thead>
    <tr>
        <th scope="col" th:text="#{viruses.all.table-header.id}"></th>
        <th scope="col" th:text="#{viruses.all.table-header.name}"></th>
        <th scope="col" th:text="#{viruses.all.table-header.magnitude}"></th>
        <th scope="col" th:text="#{viruses.all.table-header.released-on}"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="virus : ${viewModel}" th:object="${virus}">
        <tr>
            <td scope="row" th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{magnitude.getNormalizedName()}"></td>
            <td th:text="${#temporals.format(virus.getReleasedOn(), 'dd-MMM-yyyy')}"></td>
            <td>
                <form th:method="get" th:action="@{/viruses/edit/{id}(id=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="#{viruses.all.table-button.edit}"></button>
                </form>
            </td>
            <td>
                <form th:method="get" th:action="@{/viruses/delete/{id}(id=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="#{viruses.all.table-button.delete}"></button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>