<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="container-fluid">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main>
        <div>
            <div class="row d-flex justify-content-between">
                <div class="data col-md">
                    <h1 class="text-center font-weight-bold" id="categoryTittle" th:text="|All Products|"></h1>
                </div>
                <div class="print-container container-fluid">
                    <div class="row mb-4 d-flex justify-content-start products-data"></div>
                </div>
            </div>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
<script th:src="@{/js/home.js}"></script>
</body>
</html>