<div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
    <label for="inputUsername">Username</label>
    <input type="text" th:field="*{username}" class="form-control" id="inputUsername"
           name="username" placeholder="Enter username...">
    <small id="usernameHelper" th:each="error : ${#fields.errors('username')}"
           th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" th:field="*{email}" id="inputEmail"
           name="password" placeholder="Enter email...">
    <small id="emailHelper" th:each="error : ${#fields.errors('email')}"
           th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" th:field="*{password}" id="inputPassword"
           name="password" placeholder="Enter password...">
    <small id="passwordHelper" th:each="error : ${#fields.errors('password')}"
           th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'text-danger'">
    <label for="inputConfirmPassword">Confirm Password</label>
    <input type="password" class="form-control" th:field="*{confirmPassword}" id="inputConfirmPassword"
          name="confirmPassword" placeholder="Enter confirm password...">
    <small id="confirmPasswordHelper" th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}"></small>
</div>

<button id="submitButton"></button>


