<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navigation"></th:block>
    </header>

    <main>

        <div class="jumbotron bg-transparent w-75 m-auto">
            <h1 class="d-inline-block mc-choice"><span class="mc-colorize">ADMIN Panel:</span> Users List</h1>
            <div class="row search float-right pr-2">
                <div class="col-8 pl-0">
                    <input type="text" th:name="username" class="form-control d-inline-block" id="inputUsername" placeholder="Username..."/>
                </div>
                <div class="col-md-4 pl-0">
                    <button class="btn bg-re" onclick="findUserByUsername()"><i class="fas fa-search"></i> Find</button>
                </div>
            </div>
            <hr class="hr-2"/>

            <table class="table table-hover"></table>

            <hr class="hr-2"/>
        </div>

    </main>


    <footer>
        <th:block th:replace="fragments/footer"></th:block>
    </footer>
</div>

<script th:src="@{/scripts/users-all.js}"></script>
<script th:src="@{/scripts/users-search.js}"></script>
</body>
</html>