<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>

<body>
<div class="container-fluid">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main>
        <div class="container mt-4">
            <h1>Spread a new Virus!</h1>
            <form th:action="@{/viruses/add}" method="post" th:object="${bindingModel}">
                <th:block th:include="~{fragments/virus-form}"></th:block>
            </form>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>